/PictureAuthenticationFrontend/picture-authentication/.angular/
/PictureAuthenticationFrontend/picture-authentication/node-modules/
/PictureAuthenticationFrontend/picture-authentication/.vscode/
/PictureAuthenticationBackend/PaintingAuthenticatorV1/.idea
/PictureAuthenticationBackend/PaintingAuthenticatorV1/datasets/Painting-Authenticator-1
/PictureAuthenticationBackend/PaintingAuthenticatorV1/datasets/Painting-Authenticator-2
/PictureAuthenticationBackend/PaintingAuthenticatorV1/images
/PictureAuthenticationBackend/PaintingAuthenticatorV1/__pycache__
/PictureAuthenticationBackend/PaintingAuthenticatorV2/.idea
/PictureAuthenticationBackend/PaintingAuthenticatorV2/datasets/Painting-Authenticator-1
/PictureAuthenticationBackend/PaintingAuthenticatorV2/datasets/Painting-Authenticator-2
/PictureAuthenticationBackend/PaintingAuthenticatorV2/images
/PictureAuthenticationBackend/PaintingAuthenticatorV2/__pycache__
/PictureAuthenticationBackend/PaintingAuthenticatorV3/.idea
/PictureAuthenticationBackend/PaintingAuthenticatorV3/datasets/Painting-Authenticator-1
/PictureAuthenticationBackend/PaintingAuthenticatorV3/datasets/Painting-Authenticator-2
/PictureAuthenticationBackend/PaintingAuthenticatorV3/datasets/Painting-Authenticator-3
/PictureAuthenticationBackend/PaintingAuthenticatorV3/images
/PictureAuthenticationBackend/PaintingAuthenticatorV3/__pycache__
.vercel
